 * {
   padding: 0;
   margin: 0;
 }

 body {
  box-sizing: border-box;
   background-color: rgb(231, 225, 241);
   font-family: 'Public Sans', sans-serif;
   height: 100vh;
   width: 100vw;
 }

 header {
  /* width:100vw; */
   box-sizing: border-box;
   text-align: center;
   padding-top: 1vh;
   padding-bottom: 2vh;
   font-size: 1.5em;
   background-color: rgb(126, 84, 204);
   color: #fff;
   margin-bottom: 15px;
 }

 #home{
  width:100%;
  height:88vh;
  display: flex;
  flex-direction: column;
  gap:100px;
  justify-content: center;
  align-items: center;
 }
#home h1{
  font-size: 2rem;
  text-align: center;
  color: black;
}
 .button{
  height:40px;
  width:100px;
  padding: 5px;
  font-size:1rem;
  border:none;
  background-color: rgb(126, 84, 204);
  color: #fff;
  border-radius:4px;
 }

 .button:hover{
  cursor: pointer;
 }

 #game-started{
  display: none;
 }
 
 #score {
  box-sizing: border-box;
   height: 40px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding-left: 20px;
   padding-right: 20px;
 }

 #score span {
   padding: 5px 0;
   font-size: 1.5rem;
 }
 #best-score{
  visibility: hidden;
 }

 #restart{
  height: 90%;
  width: 100px;
  align-self: center;
  outline: none;
  border:none;
  background: rgb(247, 61, 36);
  font-size: 1rem;
  padding: auto;
  color: #fff;
  border-radius: 10px;
 }

 #restart:hover{
  cursor: pointer;
  scale: 1.1;
 }




 #game {
   box-sizing: border-box;
   width: 750px;
   margin: 100px 0;
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
   margin-left: auto;
   margin-right: auto;
   justify-content: space-around;
   padding: 20px;
 }


 .card {
   position: relative;
   width: 100px;
   height: 100px;
   transition: transform 0.7s;
   transform-style: preserve-3d;
   cursor: pointer;
   position: relative;
   border-radius: 20px;
   ;
 }

 .card.flipped {
   transform: rotateY(180deg);
 }

 .face {
   position: absolute;
   width: 100%;
   height: 100%;
   line-height: 260px;
   color: white;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   border-radius: inherit;
 }

 .front-face {
   background: rgba(2, 58, 75, 0.575);
 }

 .back-face {
   transform: rotateY(180deg);
 }

 .back-face img {
   position: absolute;
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: inherit;

 }
 .front-face img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity:0.9;
}

#restart-warning{
  position: absolute;
  width:500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px; 
  background-color: #fff;
  margin: auto;
  padding:10px;
  border-radius: 10px;
  top:50%;
  left :50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display: none;
}

#warning-buttons-div{
  width:100%;
  display: flex;
  justify-content: center;
  gap:10%;
  padding-top: 20px;

}
#warning-buttons-div button{
  cursor: pointer;
  width: 90px;
  height: 30px;
  outline: none;
  border: none;
  background: rgb(247, 61, 36);
  color: #fff;
  border-radius: 3px;
}

#win{
  width:100%;
  height:88vh;
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
 }



@media (max-width:800px) {

  #game{
    width: 600px;
    gap:10px;
  }
  .card {
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }

  #restart-warning{
    width:400px;
  }
  
}

 @media (max-width:600px) {

   header {
     height: 50px;
     font-size: 1rem;
     margin-bottom: 20px;
   }

   #score {
     height: 40px;
   }

   #score span{
    font-size: 1.2rem;
    align-self: center;
   }
   

   #game {
    width:450px;
    gap:3px;
   }

   .card {
     width: 65px;
     height: 65px;     
   }
   #restart-warning{
    width:300px;
    font-size: 0.8rem;
    height: 150px;
  }

 }


 @media(max-width:460px){
  #game {
    width:350px;
   }

   .card {
     width: 65px;
     height: 65px;
   }
 }

 @media (max-width:350px){

  #score span{
    font-size: 1rem;
  }
  #game {
    width:300px;
   }

   .card {
     width: 60px;
     height: 60px;
   }
 }